<h2><%= t('.edit_profile') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input(:email,
              autofocus: true,
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input(:password,
              autocomplete: "off",
              hint: "leave blank if you don't want to change it",
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <%= f.input(:password_confirmation,
              autocomplete: "off",
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <%= f.input(:current_password,
              autocomplete: "off",
              hint: "we need your current password to confirm your changes",
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-2">
      <%= f.submit t('.update'), class: "btn btn-primary form-control" %>
    </div>
  </div>
<% end %>
