<h2><%= t('.change_your_password') %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.input(:password,
              label: t('.new_password'),
              autofocus: true,
              autocomplete: "off",
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <%= f.input(:password_confirmation,
              autocomplete: "off",
              wrapper: :horizontal_form,
              input_wrapper_html: {class: "col-md-6"}) %>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-2">
      <%= f.submit t('.change_your_password'), class: "btn btn-primary form-control" %>
    </div>
  </div>
<% end %>
