<p><%= t('.title') %> <%= @resource.email %>!</p>

<p><%= t('.locked_explanation') %></p>

<p><%= t('.unlock_explanation') %></p>

<p><%= link_to t('.unlock_link'), unlock_url(@resource, unlock_token: @token) %></p>
